<p><h4>Error: Cyclist profiles require a user name and a password.</h4></p>

<input type="hidden" name="user_name" value="<%= params["user_name"] %>">
<input type="hidden" name="password" value="<%= params["password"] %>">
<input type="hidden" name="first_name" value="<%= params["first_name"] %>">
<input type="hidden" name="last_name" value="<%= params["last_name"] %>">

<meta http-equiv="refresh" content ="3; url=/add_cyclist_form">
