<h3> Add Cyclist to Database</h3>

<form action= "/add_cyclist">

  <p>First Name: <input type="name" name="first_name" value="<%= params["first_name"] %>"></p>

  <p>Last Name: <input type="name" name="last_name" value="<%= params["last_name"] %>"></p>

  <p>Nickname (optional): <input type="name" name="nickname" value="<%= params["nickname"] %>"></p>

  <input type="submit" value="add cyclist">

</form>
