<p><h4>Error: Cyclist profiles require a first name and a last name.</h4></p>

<input type="hidden" name="first_name" value="<%= params["first_name"] %>">
<input type="hidden" name="last_name" value="<%= params["last_name"] %>">
<input type="hidden" name="nickname" value="<%= params["nickname"] %>">

<meta http-equiv="refresh" content ="3; url=/add_cyclist_form">

