<h3> Add Cyclist to Database</h3>

<form action= "/add_cyclist">

  <p>User Name: <input type="name" name="user_name" value="<%= params["user_name"] %>"></p>

  <p>Password: <input type="name" name="password" value="<%= params["password"] %>"></p>

  <p>First Name: <input type="name" name="first_name" value="<%= params["first_name"] %>"></p>

  <p>Last Name: <input type="name" name="last_name" value="<%= params["last_name"] %>"></p>


  <input type="submit" value="add cyclist">

</form>
