<h3>Edit Cyclist Profile</h3>

<form action="/edit_cyclist/">

  <p><h4>Update cyclist profile as necessary.</h4></p>
  <p>First Name: <input type="text" name="first_name" value="<%= @new_cyclist.first_name %>"></p>
  <p>Last Name: <input type="text" name="last_name" value="<%= @new_cyclist.last_name %>"></p>
  <p>Nickname: <input type="text" name="nickname" value="<%= @new_cyclist.nickname %>"></p>

  <input type="hidden" name="x" value="<%= params["x"] %>">

  <p><input type="submit" value="edit profile"></p>
</form>
