<h3>Manage Cyclists Menu</h3>

<ul>
  <a href="/add_cyclist_form"><li>Add a cyclist</li></a>
  <a href="/edit_cyclist_list"><li>Edit a cyclist</li></a>
  <a href="/delete_cyclist"><li>Delete a cyclist</li></a>
  <a href="/view_cyclists"><li>View all cyclist profiles</li></a>
  <a href="/cyclists_and_bikes_form"><li>View all bikes owned by a cyclist</li></a>
  <a href="/search_by_id_form"><li>Search for a cyclist by id</li></a>
</ul>
