<h3>Search by Cyclist ID</h3>

<form action="/search_by_id/">

  <p><h4>Enter a cyclist id.</h4></p>


  <p><input type="number" name="id" min="1" step="1"></p>

  <p><input type="submit" value="view profile"></p>

</form>
