<h4>View Cyclist Profile <%= @new_cyclist.id %></h4>

  <b>First Name:</b> <%= @new_cyclist.first_name %>
  <b>Last Name:</b> <%= @new_cyclist.last_name %>
  <b>Nickname:</b> <%= @new_cyclist.nickname %>
