<h3>Calculate Route and Ride Data</h3>

<form action="/calculate_ride">

  <p>Starting Point: <input type="text" name="origin" placeholder="Origin"></p>
  <p>Ending Point: <input type="text" name="destination" placeholder="Destination"></p>

  <p><input type="submit" value="calculate distance"></p>

</form>
