<h3>Manage Rides Menu</h3>

<ul>
  <a href="/add_ride_form"><li>Add a ride</li></a>
  <a href="/calculate_ride_form"><li>Find route and ride distance</li></a>
  <a href="/edit_ride_list"><li>Edit a ride</li></a>
  <a href="/delete_ride"><li>Delete a ride</li></a>
  <a href="/view_rides"><li>View all rides</li></a>
  <a href="/rides/search_by_id_form"><li>Search for a ride by id</li></a>
</ul>
