<h3>Search by Ride ID</h3>

<form action="/rides/search_by_id/">

  <p><h4>Enter a ride id.</h4></p>


  <p><input type="number" name="id" min="1" step="1"></p>

  <p><input type="submit" value="view ride"></p>

</form>
