<h3>Manage Bikes Menu</h3>

<ul>
  <a href="/add_bike_form"><li>Add a bike</li></a>
  <a href="/edit_bike_list"><li>Edit a bike</li></a>
  <a href="/delete_bike"><li>Delete a bike</li></a>
  <a href="/bikes_and_rides_form"><li>View all rides for a specific bike</li></a>
  <a href="/view_bikes"><li>View all bikes</li></a>
  <a href="/bikes/search_by_id_form"><li>Search for a bike by id</li></a>
</ul>
