<h3>Search by Bike ID</h3>

<form action="/bikes/search_by_id/">

  <p><h4>Enter a bike id.</h4></p>


  <p><input type="number" name="id" min="1" step="1"></p>

  <p><input type="submit" value="view bike"></p>

</form>
